body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
  }

  /* Button to open modal */
  #openPopup {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
  }

  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal content styling */
  h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
  }
  label {
    display: block;
    margin-top: 5px;
    color: #666;
  }
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  input#date {
    width: 96%;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
  .file-upload-label {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffbea9;
  }

  /* Style adjustments for the file input button */
  input[type='file'] {
    display: none;
  }
  .submit-btn {
    background-color: #f36326;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  .submit-btn:hover {
    background-color: #ffbea9;
  }

  /* Small screen adjustments */
  @media only screen and (max-width: 600px) {
    .modal-content {
      margin: 20% auto;
      padding: 10px;
    }

    h2 {
      font-size: 18px;
    }
  }