/* # = id 
class= .class
tag = nama tag */
/* h1{
    color: #F36326;
}
#logo{
    width: 55px;
} */
/* footer {
    background-color: #F36326;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%;
    text-align: center;
}

.footer-section h2 {
    font-size: 1.2rem;
}

.footer-section p {
    font-size: 1rem;
} */





